body {
    margin-top: 100px;
    background-color: #95D5B2;
}

svg {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}

h1 {
    margin-left: 200px;
    padding-bottom: 180;
    color: #081C15;
    font-family: 'Vollkorn', serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 1.5;
}

h2, h3 {
    position: relative;
    z-index: 2;
    color: #081C15;
    line-height: 1.5;
}

h2 {
    font-family: 'Vollkorn', serif;
    font-size: 50px;
    padding-bottom: 25px;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 400;
}

p {
    position: relative;
    color: #081C15;
    line-height: 1.5;
    z-index: 2;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.btn.disabled {
    pointer-events: none;
    background-color: #52b78880;
    border: 2px solid #40916C80;
}

.btn {
    position: relative;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #081C15;
    text-decoration: none;
    background-color: #52B788;
    border: 2px solid #40916C;
    text-align: center;
    display: inline-block;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
    -webkit-transform: scaleY(.1);
    transform: scaleY(.1);
    transition: all .4s
}

.btn:hover {
    color:#1B4332;
    background-color: #52B788;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
}

.btn:hover::before {
    opacity: 1;
    background-color: #95D5B2;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity;
}

.col {
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;
}

.intro-container {
    position: relative;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 75px;
    z-index: 2;
    grid-template-columns: 2fr 1fr;
}

.intro {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.intro-container .arrow {
    position: absolute;
    transform-origin: center;
    transform: rotate(45deg);
    left: 250px;
    bottom: -50px;
    z-index: 1;
    background: #95D5B2;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.graph-container {
    column-gap: 0px;
    grid-template-columns: 2fr 1fr;
}

.hor-container {
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.graph {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 100px;
    background: #B7E4C7;
}

.graph .arrow {
    position: absolute;
    transform-origin: center;
    transform: rotate(45deg);
    top: 55px;
    right: -50px;
    z-index: 1;
    background: #B7E4C7;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.profiel {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 80px;
    padding-right: 100px;
    background: #D8F3DC;
}

.profieltekst {
    position: relative;
    color: #1B4332;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    z-index: 2;
}

.profiel .arrow {
    position: absolute;
    transform-origin: center;
    transform: rotate(45deg);
    bottom: -50px;
    left: 50px;
    z-index: 1;
    background: #D8F3DC;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.fraction-container {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 200px;
    padding-left: 200px;
}

.fraction {
    position: relative;
    padding: 70px 20px 50px 20px;
    border-radius: 25px;
    background: #B7E4C7;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 150px 75px 1fr 75px;
}

.bedrag {
    position: relative;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

.slider .track, .slider .parameter-value path {
    stroke: #40916C;
    fill: #52B788;
}

.slider .track-inset {
    fill: #D8F3DC;
}

path#piggy-bank {
    fill: #081C15;
}

#btnStart {
    margin-left: 20px;
}