body {
    margin: 50px;
    background-color: rgb(230, 230, 230);
}

svg {
    background-color: white;
    width: 100%;
    height: auto;
    
}

.line {
    fill: none;
    /* stroke: steelblue; */
    stroke-width: 1.5;
}