body {
    margin-top: 100px;
    background-color: #95D5B2;
}

svg {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}

h1 {
    margin-left: 200px;
    padding-bottom: 180;
    color: white;
    font-family: 'Vollkorn', serif;
    font-size: 120px;
    font-weight: bold;
    line-height: 1.5;
}

h2, h3 {
    position: relative;
    z-index: 2;
    padding-bottom: 25px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.5;
}

h3 {
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.col {
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;
}

.intro-container {
    position: relative;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 75px;
    z-index: 2;
    grid-template-columns: 2fr 1fr;
}

.intro-container .arrow {
    position: absolute;
    transform-origin: center;
    transform: rotate(45deg);
    left: 250px;
    bottom: -50px;
    z-index: 1;
    background: #95D5B2;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.graph-container {
    column-gap: 0px;
    grid-template-columns: 2fr 1fr;
}

.hor-container {
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.graph {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 100px;
    background: #B7E4C7;
}

.graph .arrow {
    position: absolute;
    transform-origin: center;
    transform: rotate(45deg);
    top: 55px;
    right: -50px;
    z-index: 1;
    background: #B7E4C7;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.profiel {
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 80px;
    padding-right: 100px;
    background: #D8F3DC;
}

.profiel .arrow {
    position: absolute;
    transform-origin: center;
    transform: rotate(45deg);
    bottom: -50px;
    left: 50px;
    z-index: 1;
    background: #D8F3DC;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.fraction-container {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 200px;
    padding-left: 200px;
    background: #52B788;
}

.fraction {
    position: relative;
    padding: 70px 20px 50px 20px;
    background: #40916C;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 150px 75px 1fr 75px;
}

/* .fraction .arrow {
    position: absolute;
    transform-origin: center;
    transform: rotate(45deg);
    top: -70px;
    left: 50px;
    z-index: 1;
    background: #52B788;
    border-radius: 10px;
    width: 120px;
    height: 120px;
} */

.intro {
    color: white;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;
}

.slider-label {
    fill: #1B4332;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.line { 
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.line:hover {
    stroke-width: 3;
}

.profieltekst {
    position: relative;;
    color: #1B4332;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    z-index: 2;
}

.bedrag {
    position: relative;
    z-index: 1;
    color: #D8F3DC;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

#time-chart {
    background-color: #B7E4C7;
}

path#piggy-bank {
    fill: #081C15;
}